* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.Container {

  max-width: 1024px;
  margin: 0 auto;


}


.FontG {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 38px;
  color: #E66767;
}